@font-face {
  font-family: 'Bauhaus';
  src: url('BauhausRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bauhaus';
  src: url('BauhausBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bauhaus';
  src: url('BauhausItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bauhaus';
  src: url('BauhausBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}
canvas {
  display: block;
}
